<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Quotes App</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="https://kit.fontawesome.com/29cb2c9a11.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>Quotes: Node.js CRUD API with Express and MongoDB</h1>

		<!-- Quotes -->
		<h2>Add New Quote</h2>
		<form action="/quotes" method="POST">
		
			<label for="category">Category:</label><br>
			<input type="text" id="category" name="category"><br>
		
			<label for="author">Author:</label><br>
			<input type="text" id="author" name="author" required><br>
		
			<label for="quote">Quote:</label><br>
			<textarea id="quote" name="quote" rows="4" cols="50" required></textarea><br>
		
			<!-- Add more fields as needed -->
		
			<button type="submit">Add Quote</button>
		</form>
    
    <!-- Template -->
    <h2>Quotes</h2>

    <ul class="quotes">
			<%if (quotes &&  quotes.length > 0) { %>
				<% quotes.forEach(quote => { %>
					<li class="quote">
						<section class="entry">
							<section class="info">
								<span> <%= quote.author %> -</span>
								<q>
									<%= quote.quote %>
								</q><br />
								<small>Category: <%= quote.category %></small> <br />
							</section>
							<div class="crud-buttons">
								<button data-id="<%= quote._id %>" class="btn btn-success" id="update-btn">Update</button>
								<button data-id="<%= quote._id %>" class="btn btn-danger" id="delete-btn">Delete</button>
							</div>
						</section>
					</li>
				<% }); %>
			<% } else {%>
				<p>No quotes available.</p>
			<%}%>
		</ul>		
		
		<!-- Links to Other API's -->
		<ul>
			<li class="api-icon"><a href="/contacts"><i class="fas fa-address-book"></i> Address Book API</a></li>
			<li class="api-icon"><a href="/posts"><i class="fas fa-pencil-alt"></i> Posts/Blog API</a></li>
			<li class="api-icon"><a href="/tasks"><i class="fas fa-tasks"></i> Tasks Manager API</a></li>
			<li class="api-icon"><a href="/employees"><i class="fas fa-users"></i> Team Tracker API</a></li>
			<!-- <li class="api-icon"><a href="/quotes"><i class="fas fa-quote-left"></i> Quotes API</a></li> -->
		</ul>

		<script src="/main.js"></script>
	</body>
</html>
